* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

canvas {
  display: block;
  border: 1px solid black;
  max-height: calc(100vh - 120px);
  max-width: 95vw;
  margin: auto;
}

h1 {
  text-align: center;
  height: 50px;
  line-height: 50px;
  margin: 25px;
}
